*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    justify-content:space-between;
     align-items: center; 
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    height: 100%;
    width: 100%;
    background-color: black;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: red;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: palegreen;
}
#box3{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
}