*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows:  1fr 1fr 2fr;
    grid-template-areas: "header header"
                         "aside section "
                         "footer  footer"
                        ;
                        grid-gap: 20px;
                        padding: 20px;
}
header{
    background-color: brown;
    grid-area: header;
     font-size: xx-large;
    font-weight: 800;
    font-style: italic;
    border: 10px solid whitesmoke;

}
aside{
    background-color:green;
    grid-area: aside;
     font-size: xx-large;
    font-weight: 800;
    font-style: italic;
     border: 10px solid whitesmoke;
}
section{
    background-color: blue;
    grid-area: section;
     font-size: xx-large;
    font-weight: 800;
    font-style: italic;
     border: 10px solid whitesmoke;
}
footer{
    background-color:mediumpurple;
    grid-area: footer;
     font-size: xx-large;
    font-weight: 800;
    font-style: italic;
     border: 10px solid whitesmoke;
}