*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "left-top  top-centre top-right"
                          "left-top  centre  bottom-right" 
                          "left-bottom left-bottom bottom-right";
    margin: 20px;
    padding: 20px;
    gap: 20px 20px;
}
#left-top{
    background-color: brown;
    border: 5px solid white;
    grid-area: left-top;
}
#top-centre{
    background-color: aquamarine;
     border: 5px solid white;
    grid-area: top-centre;
}
#top-right{
    background-color: rgb(227, 109, 19);
     border: 5px solid white;
    grid-area: top-right
}
#centre{
    background-color: pink;
      border: 5px solid white;
    grid-area: centre;
}
#bottom-right{
    background-color: green;
    border: 5px solid white;
    grid-area: bottom-right;
}
#left-bottom{
     background-color: papayawhip;
    border: 5px solid white;
    grid-area: left-bottom
}