*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.child{
    height:100px;
    width: 100px;
    color:aqua;
    background-color: blueviolet;
}